<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<h2>All users</h2>
<hr>
<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Password</th>
        <th>Role</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <tr th:each="user:${userList}">

        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getSurname()}"></td>
        <td th:text="${user.getUserPassword()}"></td>
        <td th:text="${user.getRoles()}"></td>

        <td>
            <form th:action="@{/admin/edit}" method="get">
                <input type="hidden" name="id" th:value="${user.getId()}"/>
                <input type="submit" value="Update user"/>
            </form>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/admin/deleteUser}" method="post">
                <input type="hidden" name="id" th:value="${user.getId()}"/>
                <input type="submit" value="Delete user"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<br>

<a href=/admin/info>
    <button>Add user</button>
</a>
<br>
<br>
<input type="button" value="Log out"
       onclick="window.location.href='/logout'">

</body>
</html>