<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<h2>Update user</h2>
<br>

<form th:method="PATCH" th:action="@{updateUser}" th:object="${userFromDB}">
    <label for="id">User id: </label>
    <input type="text" th:field="*{id}" id="id" readonly/>
    <br/>
    <label for="name">Edit name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="surname">Edit surname: </label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <br/>
    <label for="password">Edit password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <label for="roleList">Select new role:</label>
    <select id="roleList" multiple name="userRole">
        <option th:each="role : ${allRoles}" th:value="${role.getName()}" th:text="${role.getName()}"/>
    </select>
    <br>
    <br>
    <input type="submit" value="OK"/>
</form>
<br>
<br>
<input type="button" value="Log out"
       onclick="window.location.href='/logout'">

</body>
</html>