<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add user</title>
</head>
<body>
<h2>Add user</h2>
<br>

<form th:method="POST" th:action="@{saveUser}" th:object="${newUser}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="surname">Enter surname: </label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <br/>
    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <label for="roleList">Select a role:</label>
    <select id="roleList" multiple name="userRole">
        <option th:each="role : ${allRoles}" th:value="${role.getName()}" th:text="${role.getName()}"/>
    </select>
    <br/>
    <br/>
    <input type="submit" value="OK"/>
</form>
<br>
<br>
<input type="button" value="Log out"
       onclick="window.location.href='/logout'">

</body>
</html>